@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(http://fonts.googleapis.com/css?family=Rancho);

a {
	color: #474;
	text-decoration: none;
}

body {
	color: #555;
	font-family: 'Rancho', sans-serif;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
}

button {
	background: #77f;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	font-family: 'Rancho', sans-serif;
	outline: 0;
	padding: 5px;
	position: relative;
	text-shadow: rgba(0, 0, 0, .3) 2px 2px 0;
}

button.nav {
	font-size: 40px;
	transition: box-shadow 150ms;
	-moz-transition: box-shadow 150ms;
	-webkit-transition: box-shadow 150ms;
	width: 300px;
}
button.nav:focus, button.nav:hover {
	box-shadow: #77f 0 0 50px;
	z-index: 1;
}

button.cancel {
	background: #c42;
}
button.cancel:focus, button.cancel:hover {
	box-shadow: #c42 0 0 50px;
}

button.create {
	background: #6c1;
}
button.create:focus, button.create:hover {
	box-shadow: #6c1 0 0 50px;
}

button[disabled] {
	background: #aaa;
	color: #444;
}

button[disabled]:focus, button[disabled]:hover {
	box-shadow: none;
}

h1 {
	color: #000;
	font-family: 'Love Ya Like A Sister';
	font-size: 75px;
	font-weight: normal;
	margin: 0 0 10px;
	text-shadow: #aaa 0 0 5px;
}

section {
	margin: auto;
	width: 375px;
}

#derp {
	font-size: 12px;
	margin: 30px auto;
}

#info {
	margin: 5px 0 0;
}

.p-join, .p-main, .p-party {
	display: none;
}
#p-join .p-join,
#p-main .p-main,
#p-party .p-party
{
	display: block;
}

#songs {
	display: block;
	height: 0;
	margin: 0;
	padding: 0;
	position: relative;
	transition: height 200ms;
	-moz-transition: height 200ms;
	-webkit-transition: height 200ms;
	width: 100%;
}

#songs button {
	font-size: 16px;
	padding: 5px 10px;
	float: right;
}

#songs li {
	background: #fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	border: #ccc solid 1px;
	height: 50px;
	position: absolute;
	transition: top 500ms;
	-moz-transition: top 500ms;
	-webkit-transition: top 500ms;
	width: 375px;
}
